body
{
    background-color: lightblue;
    margin: 0;
    padding: 0;
    display: flex;
    min-height: 100vh;
    flex-wrap: wrap;
    box-sizing: border-box;
}

.title
{
    margin-top: 2%;
    margin-bottom: 3%;
}

footer
{
    align-self: flex-end;
    background-color: lightgray;
    line-height: 3;
    text-align: center;
    width: 100%;
}

#help:visited
{
    color: black;
}

#help:hover
{
    color: gray;
}

#help:active
{
    color: coral;
}

p.cuerpo
{
    text-align: justify;
}

a.link:visited
{
    color: brown;
}

a.link:hover
{
    color: blue;
}

a.link:active
{
    color:green;
}

.botones
{
    margin-top: 3%;
}